<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CADENA_DE_CONEXION"
			 value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\truji\LIS\Construccion\Construccion\AccesoDatos\DBmarina.mdf;Integrated Security=True"/>
	</appSettings>
</configuration>
